<div class="aside">
  <div class="aside-content">
    <h3 class="title title--margin-xs">Assets type</h3>
    <ul class="aside__list">
      {{#each @assetTypes as |item| }}
        {{item.usedTotalCount}}
        <li class="aside__item item--{{item.type}}">
          <input type="checkbox" data-type={{item.type}}
                 onchange={{@onchange}}
                 checked={{true}}
          >
          {{svg-jar (concat '#' item.value)}}
          {{item.value}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>


