<div class="container container--assets-list">
  <Aside  @assetTypes={{@model.assetTypes}}/>
{{log sortAssetList}}
  <div class="list-card">
    {{#each sortAssetList as |item|}}
      <Ui::Card
        @previewImage={{item.previewImage}}
        @title={{item.title}}
        @type={{item.type}}
        @tag={{item.tag}}
      />
    {{/each}}
  </div>
</div>